<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thinkpad.rxjavaoperator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".operator.Activity_Create"/>
        <activity android:name=".operator.Activity_Just"/>
        <activity android:name=".operator.Activity_FromArray"/>
        <activity android:name=".operator.Activity_FromCallable"/>
        <activity android:name=".operator.Activity_FromFuture"/>
        <activity android:name=".operator.Activity_FromIterable"/>
        <activity android:name=".operator.Activity_Defer"/>
        <activity android:name=".operator.Activity_Timer"/>
        <activity android:name=".operator.Activity_Interval"/>
        <activity android:name=".operator.Activity_IntervalRange"/>
        <activity android:name=".operator.Activity_Range"/>
        <activity android:name=".operator.Activity_RangeLong"/>
        <activity android:name=".operator.Activity_EmptyNeverError"/>
        <activity android:name=".operator.Activity_Map"/>
        <activity android:name=".operator.Activity_FlatMap"/>
        <activity android:name=".operator.Activity_ConcatMap"/>
        <activity android:name=".operator.Activity_Buffer"/>
        <activity android:name=".operator.Activity_GroupBy"/>
        <activity android:name=".operator.Activity_Scan"/>
        <activity android:name=".operator.Activity_Window"/>
        <activity android:name=".operator.Activity_Concat"/>
        <activity android:name=".operator.Activity_ConcatArray"/>
        <activity android:name=".operator.Activity_Merge"/>
        <activity android:name=".operator.Activity_ConcatArrayDelayError_MergeArrayDelayError"/>
        <activity android:name=".operator.Activity_Zip"/>
        <activity android:name=".operator.Activity_CombineLatest_CombineLatestDelayError"/>
        <activity android:name=".operator.Activity_Reduce"/>
        <activity android:name=".operator.Activity_Collect"/>
        <activity android:name=".operator.Activity_StartWith_StartWithArray"/>
        <activity android:name=".operator.Activity_Count"/>
        <activity android:name=".operator.Activity_Delay"/>
        <activity android:name=".operator.Activity_DoOnEach"/>
        <activity android:name=".operator.Activity_DoOnNext"/>
        <activity android:name=".operator.Activity_DoAfterNext"/>
        <activity android:name=".operator.Activity_DoOnComplete"/>
        <activity android:name=".operator.Activity_DoOnError"/>
        <activity android:name=".operator.Activity_DoOnSubscribe"/>
        <activity android:name=".operator.Activity_DoOnDispose"/>
        <activity android:name=".operator.Activity_DoOnLifecycle"/>
        <activity android:name=".operator.Activity_doOnTerminate_doAfterTerminate"/>
        <activity android:name=".operator.Activity_doFinally"/>
        <activity android:name=".operator.Activity_onErrorReturn"/>
        <activity android:name=".operator.Activity_onErrorResumeNext"/>
        <activity android:name=".operator.Activity_onExceptionResumeNext"/>
        <activity android:name=".operator.Activity_retry"/>
        <activity android:name=".operator.Activity_retryUntil"/>
        <activity android:name=".operator.Activity_retryWhen"/>
        <activity android:name=".operator.Activity_repeat"/>
        <activity android:name=".operator.Activity_repeatWhen"/>
        <activity android:name=".operator.Activity_subscribeOn"/>
        <activity android:name=".operator.Activity_observeOn"/>
        <activity android:name=".operator.Activity_filter"/>
        <activity android:name=".operator.Activity_ofType"/>
        <activity android:name=".operator.Activity_skip"/>
        <activity android:name=".operator.Activity_distinct"/>
        <activity android:name=".operator.Activity_distinctUntilChanged"/>
        <activity android:name=".operator.Activity_take"/>
        <activity android:name=".operator.Activity_debounce"/>
        <activity android:name=".operator.Activity_firstElement_lastElement"/>
        <activity android:name=".operator.Activity_elementAt_elementAtOrError"/>

    </application>

</manifest>